body{
    font-size: 14px;
    background-color: #000;
}

.main{
width: 100%;
height: 100%;
}
.maincontent{
background-color:#105a39a9 ;
padding: 12px;
margin:auto;
min-width: 600px;
}
.table-bordered{
  width: 100%;
  min-height: 500px;
}
  .maincontent .maintitle{
    /* background-color: #e19c34a1; */
    margin:0 aut 10px auto;
    width: 100%;
    min-width: 600px;
    text-align: center;
    padding: 20px;
  }
  .maintitle h2{
    color: #ffffff9c;
    margin:o0;
    line-height: 20px;
  }
  .card{
    --bs-card-bg:#fff;
    min-width: 600px;
    border:none;
    width: 90%;
    overflow: hidden;
    position: relative;
    margin: auto;
    padding-bottom: 20px;
  }
  .nav{
    --bs-nav-link-hover-color:#885305d7;
    --bs-nav-link-color:#885305d7;
  }
  .nav-pills{
  
    display:table !important;
    width:100%;
    cursor: default;
  }
  .nav-pills .nav-link.active{
    background-color: #105a39c9;
  }
  .nav-pills .nav-link {
      border-radius: 0px;
          border-bottom: 1px solid #C47A0D;
  }
  .nav-item{
        display: table-cell;
         background: #e19c34a1;
  }
  .form{
    padding: 10px;
   min-height: 300px;
   height: 100%;
  }
  thead th{
    color: #01180e;
    background-color: #105a3969;
  }
  .btn{
    margin: 5px;
  }
  .verif{
    width: 300px;
  }
  .salaire{
    width: 400px;
  }
  .modal-header{
    background-color:#a86807e5;
    color: #fff;
  }
  .modal-body input{
    border-radius: 5px;
    margin: 0 auto 12px 5px;
    width: 80%;
  }
  form input:focus{
    box-shadow: none;
  }
  .modal-body label{
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
  }
  .form-check-input{
    border: 2px solid #b8bbba;
    font-size: 25px;
  }
  .form-check-input:checked{
    background-color: #212529;
    border-color: #212529;
  }