<section class="main">
    <div class="maincontent">
        <div class="formul">
            <div class="titleform">
                <h2>Faire un don</h2>
            </div>
            <form action="">
                <label for="">Montant:</label><br>
                <input type="number"  placeholder="xxxxxx " class="form-control" required>
                <label for="">Motif:</label><br>
                <input type="text" placeholder="Bons service" class="form-control" required>
                <label for="">Compte destinaire:</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>DG1</option>
                    <option value="1">DG2</option>
                    <option value="2">DG3</option>
                    <option value="3">DG4</option>
                  </select><br>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-success">Valider</button>
            </form>
        </div>
    </div>
</section>
