<section class="main">
    <div class="maincontent">
        <div class="maintitle">
            <h2>votre solde est de: <span>xxxx</span></h2>
        </div>
        <div class="blocs">

            <div class="card">
                
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item text-center">
                      <a class="nav-link active btl" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Cashflow  de Fonctionnement</a>
                    </li>
                    <li class="nav-item text-center">
                      <a class="nav-link btr" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Cashflow Libre</a>
                    </li>
                   
                  </ul>
                  <div class="tab-content" id="pills-tabContent">

                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="form px-4 pt-5">
                                <table class="table table-bordered" data-toggle="table" data-search="true" data-pagination="true">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Noms</th>
                                            <th scope="col">Factures</th>
                                            <th scope="col">Impots</th>
                                            <th scope="col">Loyer</th>
                                            <th scope="col">Salaires</th>
                                            <th scope="col">Cash en caisse</th>
                                            <th scope="col">Patrimoine boursier</th>
                                            <th scope="col">Patrimoine Immobilier</th>
                                            <th scope="col">Total</th>
                                            <th scope="row">Cashflow Libre</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="gain">
                                            <th scope="row">Gains</th>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td rowspan="2" class="cash">30 000 FCFA</td>
                                          </tr>
                                          <tr class="pertes">
                                            <th scope="row">Pertes</th>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                          </tr>
                                          <!-- <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2" class="table-active">Larry the Bird</td>
                                            <td>@twitter</td>
                                          </tr> -->
                                            
                                        </tbody>
                                      </table>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="form px-4 pt-5">
                                
                                <table class="table table-bordered" data-toggle="table" data-search="true" data-pagination="true">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Noms</th>
                                            <th scope="col">Hébergement Web</th>
                                            <th scope="col">Logiciels</th>
                                            <th scope="col">Connexion internet</th>
                                            <th scope="col">Prestation livrée</th>
                                            <th scope="col">Total</th>
                                            <th scope="row">Cashflow de Fonctionnement </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="gain">
                                            <th scope="row">Gains</th>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td>200 00 FCFA</td>
                                            <td rowspan="2" class="cash">230 000 FCFA</td>
                                          </tr>
                                          <tr class="pertes">
                                            <th scope="row">Dépenses</th>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                            <td>10 000 FCFA</td>
                                          </tr>
                                          <!-- <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                          </tr> -->
                                        </tbody>
                                      </table>
                                </table>
                            </div>
                        </div>
                    
                   </div>
              
            </div>

        </div>
    </div>
</section>
