<div class="main">
    <div class="maintcontent">
        <div class="sante">
            <h1>Sante Financiere</h1>
        </div>

        <div class="graph">
            <div class="elemnt">
                <h2>Graph ici</h2>
                <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://fr.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Suivre tous les marchés sur TradingView</span></a></div>
    <div id="plot"></div>
  </div>
  <!-- TradingView Widget END -->
            </div>
            
        </div>

    </div>
</div>
