body{
    font-size: 14px;
    background-color: #000;
}

.main{
width: 100%;
height: 100%;
}
.maintcontent{
/* background-color:#105a39a9 ; */
padding: 3%;
margin:auto;
width: 100%;
height: 100%;
text-align: center;
}
.sante{
    margin: 0 auto;
    border-radius: 5px;
    width: 100%;
    /* background-color: #f7ebda; */
    color:#064635;
    height: 90px;
    padding: 10px;
    text-align: center;
}
.sante h1{
    font-size: 2.4em;
}

.graph{
    width: 100%;
    display: block;
    padding: 20px;
    /* background-color: darkolivegreen; */
    height: 350px;
    text-align: center;
    padding: 20px;
}
.elemnt{
    border-radius: 5px;
    background-color: #f3f3f3;
    height: 100%;
    padding: 10px 20px;
}


 