<div class="main">
    <div class="maintcontent">
        <div class="sante">
            <h1>Sante Financiere</h1>
        </div>
        <div class="resum">

            <div class="res">
                <a href="#">
                    <h3>Cashflow  de Fonctionnement</h3> <br>
                    <span>250 000 FCFA</span>
                </a>   
            </div>
            <div class="res">
                <a href="#">
                    <h3>Cashflow Libre</h3> <br>
                    <span>700 000 FCFA</span>
                </a>   
            </div>
            <div class="res">
                <a href="#">
                    <h3>Depenses Totales</h3> <br>
                    <span>3 000 000 FCFA</span>
                </a>   
            </div>
            <div class="res">
                <a href="#">
                    <h3>Gains Total</h3> <br>
                    <span>70 000 000 FCFA</span>
                </a>   
            </div>
            <!-- <div class="res">
                <a href="#">
                    <h3></h3> <br>
                    <span>70 000 000 FCFA</span>
                </a>   
            </div> -->

        </div>

        <div class="graph">
            <div class="elemnt">
                <h2>Graph ici</h2>
            </div>
            
        </div>

    </div>
</div>
